In [1]:
import pandas as pd
import numpy as np
from math import log
import os

In [3]:
df=pd.read_csv(r"D:\dwm\Datasets\Id3_dataset.csv")
df.set_index('ID', inplace=True)
df

           Age  Income Student Credit Rate Class
ID
1        youth    high      no        fair    no
2        youth    high      no   excellent    no
3   middle age    high      no        fair   yes
4       senior  medium      no        fair   yes
5       senior     low     yes        fair   yes
6       senior     low     yes   excellent    no
7   middle age     low     yes   excellent   yes
8        youth  medium      no        fair    no
9        youth     low     yes        fair   yes
10      senior  medium     yes        fair   yes
11       youth  medium     yes   excellent   yes
12  middle age  medium      no   excellent   yes
13  middle age    high     yes        fair   yes
14      senior  medium      no   excellent    no

In [4]:
# For the target class

info = 0
vc = df['Class'].value_counts(normalize=True)
for item in df['Class'].unique():
    info += -(vc[item] * log(vc[item], 2))

print("Info : ",info)

Info :  0.9402859586706309

In [7]:
ll = list(df.columns)
ll.pop(-1)
print("Attribute List : ",ll)  # This is the attributes list

Attribute List :  ['Age', 'Income', 'Student', 'Credit Rate']

In [8]:
for aa in ll: # Attributes
    info_smol = 0 # small info
    vc_class = df.groupby(aa)['Class'].value_counts(normalize=True) # Class value counts, target class
    vc_attr = vc = df[aa].value_counts(normalize=True) # Attribute value counts, the one in aa
    for item in df[aa].unique(): # Unique values in attribute, eg. youth middle and old
        for target in vc_class[item].index:
            info_smol += -vc_attr[item]*vc_class[item][target]*log(vc_class[item][target], 2)   
    
    ig = info - info_smol
    print("Attribute: ", aa)
    #print(vc)
    print("IG = ", ig, "\nInfo = ", info_smol)

Attribute:  Age
IG =  0.2467498197744391
Info =  0.6935361388961918
Attribute:  Income
IG =  0.029222565658954647
Info =  0.9110633930116763
Attribute:  Student
IG =  0.15183550136234136
Info =  0.7884504573082896
Attribute:  Credit Rate
IG =  0.04812703040826927
Info =  0.8921589282623617