In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df=pd.read_csv(r"D:\dwm\Datasets\naive_bayes.csv")
df

    id         age  income student creadit rating class
0    1       youth    high      no           fair    no
1    2       youth    high      no      excellent    no
2    3  middle age    high      no           fair   yes
3    4      senior    high      no           fair   yes
4    5      senior  medium     yes           fair   yes
5    6      senior     low     yes      excellent    no
6    7  middle age     low     yes      excellent   yes
7    8       youth     low      no           fair    no
8    9       youth  medium     yes           fair   yes
9   10      senior     low     yes           fair   yes
10  11       youth  medium     yes      excellent   yes
11  12  middle age  medium      no      excellent   yes
12  13  middle age    high     yes           fair   yes
13  14      senior  medium      no      excellent    no

In [16]:
attributes={} 
attributes['age']=input("Enter age:") 
attributes['income']=input("Enter Income:") 
attributes['student']=input("Enter student :")
attributes['creadit rating']=input("Enter credit rating")
attributes

Enter age:senior
Enter Income:medium
Enter student :no
Enter credit ratingexcellent

{'age': 'senior',
 'income': 'medium',
 'student': 'no',
 'creadit rating': 'excellent'}

In [17]:
count_yes=0
count_no=0
for d in df['class']:
    if d=='yes':
        count_yes+=1
    else:
        count_no+=1
print("count of yes:",count_yes)
print("count of no :",count_no)

p={}
p['yes']=count_yes/len(df)
p['no']=count_no/len(df)

print("probability of class yes:",p['yes'])
print("probability of class no:",p['no'])

count of yes: 9
count of no : 5
probability of class yes: 0.6428571428571429
probability of class no: 0.35714285714285715

In [18]:
def calc_probability(attribute1,value1,attribute2,value2):
    global df
    count=0
    for index,row in df.iterrows():
        if row[attribute1]==value1 and row[attribute2]==value2:
            count+=1
    return count

p_yes=1
p_no=1
for a,b in attributes.items():
    p_yes*=calc_probability(a,b,'class','yes')/count_yes
    p_no*=calc_probability(a,b,'class','no')/count_no

p_yes*=p['yes']
p_no*=p['no']
print("probability class yes for given attributes: ",p_yes)
print("probability class no for given attributes: ",p_no)

probability class yes for given attributes:  0.010582010582010581
probability class no for given attributes:  0.013714285714285719

In [15]:
if p_yes>p_no:
    print("class : yes")
else:
    print("class : no")

class : yes